<style>
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #222 !important;
    border-color: #337ab7;
}
.navbar {
    border-radius: 0px !important;
        margin-bottom: 0% ! important;
}
.tablestyle
{
  border-style: hidden;
}

.td
{
  padding: 0px 0px 0px 51px;
    font-weight: 700;
    padding-bottom: 15px;
}
.th
{
  padding-bottom: 15px;
}
.main_banner {
    width: 100%;
    float: left;
    clear: both;
    margin-top: -2%;
    overflow: hidden;
    position: relative;
    height:580px;
}
.main_banner .main_banner_video {
    text-align: center;
    z-index: 1;
    width: 100%;
    height: 605px;
}

.banner_content {
    width: 100%;
    float: left;
    position: absolute;
    min-height: 405px;
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;
}
.fixed_outer {
    width: 1182px;
    margin: 0 auto;
}

.fixed_inner {
    width: 100%;
    float: left;
        margin-top: 4%;
}
.book_btn {
    float: left;
    width: 100%;
    margin-top: 25px;
    }
    .banner_content h2 {
    width: 100%;
    float: left;
    text-align: center;

    color: #222;
    text-shadow: 0 0 10px #000;
    margin-top:77px;
}
.book_btn a {
    background: #222;
    color: #fff;
    padding: 10px 30px;
}
 #map {
        height: 400px;
        width: 100%;
       }
       .bgimg
       {
        height: 200px;
    width: 100%;
       }
 #bg-imgcontent
       {
        margin-top: -13%;
    width: 40%;
    color: white;
       }
       .mybtn
       {
        background-color: #222;
        color: white;
            margin-left: 36%;
       }
div.features ul li.first {
    background-image: url(../resources/images/first.png);
}
div.features ul li.second {
    background-image: url(../resources/images/second.png);
}
div.features ul li.third {
    background-image: url(../resources/images/third.png);
}
div.features ul li {
    float: left;
    font-size: 15px;
    background-repeat: no-repeat;
    width: 250px;
    min-height: 84px;
    padding: 0;
    margin: 0 0 0 25px;
    text-indent: 87px;
    list-style-type: none;
    line-height: 84px;
    color: #333;
}

.panel-primary {
    border-color: #222 !important;
}

.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0) !important;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.btn-primary {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

</style>

<div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
<div class="main_banner">
    <div class="main_banner_video">
<video preload="true" poster="../resources/images/map_iframe.jpg" loop="" autoplay="true" id="inReadPlayer">
<source src="../resources/images/Banner_v9.mp4" type="video/mp4">
<source src="../resources/images/Banner_v9.ogv" type="video/ogg; codecs=theora, vorbis">
<source src="../resources/images/Banner_v9.webm" type="video/webm; codecs=vp8, vorbis">
</video>

  <video preload="true" poster="../resources/images/map_iframe.jpg" loop="" autoplay="true" id="mobile" controls="" autobuffer="">
<source src="../resources/images/Banner_v9.m4v" type="video/mp4">
<source src="../resources/images/Banner_v9.mp4" type="video/mp4">
<source src="../resources/images/Banner_v9.ogv" type="video/ogg">
<source src="../resources/images/Banner_v9.webm" type="video/webm">
</video>

  <img src="../resources/images/map_iframe.jpg" class="gif_image">

    </div>
    <div class="banner_content">
  <div class="fixed_outer">
      <div class="fixed_inner">
    <h2> Book A Cab Using Our Any Time Cab <br> In Just Two Steps </h2>


<div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row-fluid">
                                    <h3>Login</h3>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form>
                <input type="text" placeholder="Email" ng-model="User.Email" class="form-control" />
                <input type="password" placeholder="Password" ng-model="User.Password" class="form-control" />
                <div>
                <a href="#/" class="btn btn-primary" ng-click="Login()" style="margin-top: 20px">Submit</a>

                </div>
            </form>
                            </div>
                        </div>
                    </div>

      </div>
  </div>
    </div>
</div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
<img src="../resources/images/bg-img.jpg" style="width:100%;height: 200px;"/>
<div style="width: 40%;margin-top: -14%;margin-left: 31%;color: white; text-align: center;">
<h1>Welcome</h1>

<p style="font-size:19px;">Any Time Cab is the smartest way to get around. One tap and a car comes directly to you. Your driver knows exactly where to go. And you can pay with either cash or card.</p></div></div></div>
<div class="row">

        <div class="col-md-4" style="margin-top:3%;margin-left: 1%;">
<h3 style="    margin-left: 16%;
    margin-top: 2%;">Distance & Fare Calculator</h3>
<div style="margin-top: -1%;">

  <div class="panel panel-default" style="border: none;background-color: rgb(235, 235, 235);    width: 100%;">
        <div class="panel-body">

          <form class="form-horizontal" role="form">

            <div class="form-group">
              <label for="origin" class="col-sm-3 control-label">From</label>
              <div class="col-sm-8">

   <input class="autocomplete form-control" id="ac1"  type="text" required></input>


              </div>
            </div>
            <div class="form-group">
              <label for="destination" class="col-sm-3 control-label">To</label>
              <div class="col-sm-8">

        <input class="autocomplete form-control" id="ac2"  type="text" required></input>
              </div>
            </div>
            <div class="form-group">
              <label for="destination" class="col-sm-3 control-label">Choose CabType</label>
              <div class="col-sm-8">
                <select class="form-control" id="cab1" ng-model="cabType" ng-init="cabType=0" required>

 <option class="form-control" ng-repeat="car in carlist" ng-value="car.carType">{{car.carType}}</option>
            </select>
              </div></div>


<div class="form-group">
              <label for="destination" class="col-sm-3 control-label">Trip Type</label>
              <div class="col-sm-8">
                <input type="radio"   ng-model="tripType" " Name="triptype"  value="Round Trip">Round Trip
       <!-- ng-change='trip(value)'  ng-change="get()"ng-change='trip(value)' ng-change="get() -->
        <input type="radio"   ng-model="tripType"  Name="triptype"  value="One Way">One Way
              </div></div>

              <div class="form-group">

              <div class="col-sm-6">
              <div class="book_btn">  <a data-toggle="modal" data-target="#myModal" ng-click="normal()">Normal Fare</a></div>
              </div>
              <div class="col-sm-6">
               <div class="book_btn">  <a data-toggle="modal" data-target="#myModal" ng-click="peak()">PeakHour Fare</a></div>
              </div>

              </div>

              </form>
            </div>

        </div>
</div>
      </div>


        <div class="col-md-8" style="margin-left: 33%;
    margin-top: -27%;">
        <div class="features">
        <ul>
            <li class="left first"><h2>Convenience</h2>
                <p style="    line-height: 39px;
    margin-top: 19%;">
                    Book within seconds and  get instant confirmations. Easy online payments or cash on delivery. Booking car rentals will never be a headache again!
                </p>
            </li>
            <li class="second"><h2>Quality</h2>
                <p style="    line-height: 39px;
    margin-top: 19%;">
                    Our cars are audited for cleanliness, safety and comfort. Our drivers are well trained and reliable. Sit back and enjoy the Any Time Cab experience!
                </p>
            </li>
            <li class="third"><h2>Control</h2>
                <p style="    line-height: 39px;
    margin-top: 19%;">
                    We have clear and transparent pricing listed online. Never haggle with drivers again on payments and be confident and assured of what you are being charged for!
                </p>
            </li>
        </ul>
        </div></div>

      </div>
</div>

</div>

<div id="myModal" class="modal fade" role="dialog" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="position: absolute;
    width: 50%;
    margin-left: -89%;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Distance & Fare Calculator</h4>
      </div>
      <div class="modal-body">
        <table class="table" >
                   <tbody>
                   <!-- <tr> </tr> -->
    <tr class="tablestyle"><th>Distance in Kms</th><td><div  id="distance"></td></tr>
<tr class="tablestyle"><th>Driving Time in Min</th><td><div  id="duration"></td></tr>
<tr class="tablestyle"><th>Approximate Fare in ₹</th><td><div id="appfare"></div></td></tr></tbody></table>
 </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="myModal1" class="modal fade" role="dialog" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="position: absolute;
    width: 50%;
    margin-left: -89%;">
      <div class="modal-header">
      <h3>Login</h3>
        <button type="button" style="    margin-top: -15%;" class="close" data-dismiss="modal">&times;</button>
              </div>
      <div class="modal-body">
      <form>
                <input type="text" placeholder="Email" ng-model="User.Email" class="form-control" required/>
                <input type="password" placeholder="Password" ng-model="User.Password" class="form-control" required/>
                <div style="margin-left: 28%; padding-bottom: 15px;">
                <a href="#/" class="btn btn-primary" data-dismiss="modal" ng-click="Login()" style="margin-top: 20px">Submit</a>

                </div>
            </form>
         </div>

    </div>

  </div>
</div>

<div id="myModal2" class="modal fade" role="dialog" >
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="position: absolute;
    width: 50%;
    margin-left: -89%;">
      <div class="modal-header">
      <h3>Sign Up</h3>
         <button type="button" style="    margin-top: -15%;" class="close" data-dismiss="modal">&times;</button>
              </div>
      <div class="modal-body">
      <form >
      <input placeholder="First Name" id="fn" ng-model="User.FirstName" type="text" class="form-control" style="margin-top: 10px;" required />
            <input placeholder="Last Name" id="ln" type="text" ng-model="User.LastName" class="form-control" required/>

            <input placeholder="Email Address" id="mail" ng-model="User.Email" type="text" class="form-control" required/>
            <input placeholder="Mobile Number" id="no" ng-model="User.MobileNumber" minlength="1" maxlength="10" type="text" class="form-control" required/>
            <input placeholder="Password" ng-model="User.Password" id="pwd" minlength="1" maxlength="6" type="password" class="form-control" required/>

            <a href="#" class="btn btn-primary" ng-click="RegisterUser(User)" style="margin-top: 20px">Submit</a>
         </form>
         </div>
      
    </div>

  </div>
</div>
